@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Form area -->
<div class="error-page">
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">
                <!-- Widget starts -->
                <div class="widget wblue">
                    <!-- Widget head -->
                    <div class="widget-head">
                        <i class="icon-question-sign"></i>Error 
                    </div>

                    <div class="widget-content">
                        <div class="padd error">

                            <h1>Opps!!! Isto é um erro</h1>
                            <p>@Model.Exception.Message</p>
                            <br />

                            <form method="get" id="searchform" action="#" class="form-search">
                                <input type="text" value="" name="s" id="s" class="input-medium" />
                                <button type="submit" class="btn">Buscar</button>
                            </form>

                            <br />
                            <div class="horizontal-links">
                                <a href="@Url.Action("Index","Home")">Dashboard</a> | <a href="@Url.Action("Index","Projeto")">Projetos</a>
                            </div>

                        </div>
                    </div>
                    <div class="widget-foot">
                        <!-- Footer goes here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


