@{
    //Layout = null;
}
<!-- Form area -->
<div class="error-page">
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">
                <!-- Widget starts -->
                <div class="widget wblue">
                    <!-- Widget head -->
                    <div class="widget-head">
                        <i class="icon-question-sign"></i>Error 
                    </div>

                    <div class="widget-content">
                        <div class="padd error">

                            <h1>Opps!!! It's 404</h1>
                            <p>Aliquam consequat, purus vitae auctor ullamcorper, sem velit convallis quam, a pharetra justo nunc et mauris. </p>
                            <br />

                            <form method="get" id="searchform" action="#" class="form-search">
                                <input type="text" value="" name="s" id="s" class="input-medium" />
                                <button type="submit" class="btn">Search</button>
                            </form>

                            <br />
                            <div class="horizontal-links">
                                <a href="index.html">Home</a> | <a href="#">About Us</a> | <a href="#">Contact us</a> | <a href="#">FAQ</a>
                            </div>

                        </div>
                    </div>
                    <div class="widget-foot">
                        <!-- Footer goes here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


